# virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# OS files
**/.DS_Store        # Mac
Thumbs.db        # Windows

# environment variables
.env

# Quarto build output
reinforcement_learning_files/
reinforcement_learning.html